<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyou100.video.mapper.MerchantMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyou100.video.model.Merchant" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="merchant" property="merchant" jdbcType="VARCHAR" />
    <result column="legalperson" property="legalperson" jdbcType="VARCHAR" />
    <result column="site" property="site" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="insertime" property="insertime" jdbcType="DATE" />
    <result column="updatetime" property="updatetime" jdbcType="DATE" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, merchant, legalperson, site, tel, industry, remark, insertime, updatetime, pic
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhiyou100.video.model.MerchantExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from merchant
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from merchant
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhiyou100.video.model.MerchantExample" >
    delete from merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhiyou100.video.model.Merchant" >
    insert into merchant (id, merchant, legalperson, 
      site, tel, industry, 
      remark, insertime, updatetime, 
      pic)
    values (#{id,jdbcType=INTEGER}, #{merchant,jdbcType=VARCHAR}, #{legalperson,jdbcType=VARCHAR}, 
      #{site,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{insertime,jdbcType=DATE}, #{updatetime,jdbcType=DATE}, 
      #{pic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiyou100.video.model.Merchant" >
    insert into merchant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merchant != null" >
        merchant,
      </if>
      <if test="legalperson != null" >
        legalperson,
      </if>
      <if test="site != null" >
        site,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="industry != null" >
        industry,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="insertime != null" >
        insertime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="pic != null" >
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="merchant != null" >
        #{merchant,jdbcType=VARCHAR},
      </if>
      <if test="legalperson != null" >
        #{legalperson,jdbcType=VARCHAR},
      </if>
      <if test="site != null" >
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="insertime != null" >
        #{insertime,jdbcType=DATE},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=DATE},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhiyou100.video.model.MerchantExample" resultType="java.lang.Integer" >
    select count(*) from merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update merchant
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.merchant != null" >
        merchant = #{record.merchant,jdbcType=VARCHAR},
      </if>
      <if test="record.legalperson != null" >
        legalperson = #{record.legalperson,jdbcType=VARCHAR},
      </if>
      <if test="record.site != null" >
        site = #{record.site,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.industry != null" >
        industry = #{record.industry,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.insertime != null" >
        insertime = #{record.insertime,jdbcType=DATE},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=DATE},
      </if>
      <if test="record.pic != null" >
        pic = #{record.pic,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update merchant
    set id = #{record.id,jdbcType=INTEGER},
      merchant = #{record.merchant,jdbcType=VARCHAR},
      legalperson = #{record.legalperson,jdbcType=VARCHAR},
      site = #{record.site,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      industry = #{record.industry,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      insertime = #{record.insertime,jdbcType=DATE},
      updatetime = #{record.updatetime,jdbcType=DATE},
      pic = #{record.pic,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiyou100.video.model.Merchant" >
    update merchant
    <set >
      <if test="merchant != null" >
        merchant = #{merchant,jdbcType=VARCHAR},
      </if>
      <if test="legalperson != null" >
        legalperson = #{legalperson,jdbcType=VARCHAR},
      </if>
      <if test="site != null" >
        site = #{site,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="insertime != null" >
        insertime = #{insertime,jdbcType=DATE},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=DATE},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiyou100.video.model.Merchant" >
    update merchant
    set merchant = #{merchant,jdbcType=VARCHAR},
      legalperson = #{legalperson,jdbcType=VARCHAR},
      site = #{site,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      insertime = #{insertime,jdbcType=DATE},
      updatetime = #{updatetime,jdbcType=DATE},
      pic = #{pic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>